<%- include("template/cabecera" , {tituloWeb: 'Carrito de compra'}) %>
<body class="dark-green">
<div class="text-center times-nr">
    <h1>Carrito</h1>
</div>
<div class="container py-2 citron-bg">
    <p class="lead">Ingrese el libro a comprar</p>
    <form>
        <input id="nombre" type="text" placeholder="Ingrese Libro" class="form-control my-2">
        <input id="precio" type="number" placeholder="Ingrese Precio" class="form-control my-2">
        <button id="boton" class="btn btn-success"type="reset" onclick="guardar();">Añadir al carrito</button>
    </form>
</div>
<div class="container">
    <table class="table white" id="tabla">
        <thead class="thead-inverse">
        <tr>
            <th>Nombre </th>
            <th>Precio </th>
        </tr>
        </thead>
    </table>
</div>
<div>
    <div class="text-center"> <a href="/pago" target="_blank">Comprar ahora!</a>
    </div>
</div>
<script>
    function guardar(){
        function Libro(nombre,precio){
            this.nombre=nombre;
            this.precio=precio;
        }
        var nombreGuardar = document.getElementById("nombre").value;
        var precioGuardar = document.getElementById("precio").value;
        nuevoLibro = new Libro(nombreGuardar,precioGuardar);
        agregar()
    }
    var Carrito=[];
    function agregar(){
        Carrito.push(nuevoLibro);
        document.getElementById("tabla").innerHTML += '<tbody><td>'+nuevoLibro.nombre+'</td><td>'+nuevoLibro.precio+'</td></tbody>';
    }

</script>
<div class="footer">
    <p> Derechos reservados @Greenbeast  |  Contáctanos -> Correo: greenbeast.libros@gmail.com    Teléfono: 01-800-GREEN</p>
</div>
</body>
</html>