<%- include("template/cabecera" , {tituloWeb: 'Error 404'} ) %>

<body>
    <h1>Página de error -> no existe la dirección que estas buscando</h1>
    <div class="text-center normal-border">
        Regresar -> <a>/</a>
    </div>
</body>
</html>