<%- include("template/cabecera" , {tituloWeb: 'Greenbeast Libros'}) %>

<body class="citron-bg">
    <header>
        <h1>Greenbeast</h1>
    </header>
    <div class="text-center double-border dark-green times-nr">
        <h2> Aquí podrás encontrar tus títulos favoritos, comprarlos y nosotros te enviaremos tu pedido a casa.</h2>
        <h3> ¿Qué esperas? ¡Compra ya!</h3>
    </div>
    <div class="text-center times-nr citron-bg ">
        <h4> Buscar <input type="text" placeholder="Título del libro"> <img src="../public/images/lupa.png" alt="Lupa-icon" width="40" height="40">  <a href="/carrito" target="_blank"> -> Al carrito</a></h4>
    </div>
    <div class=" dark-green text-center times-nr">

        <h2>  Favoritos: </h2>
    </div>
    <div class="container dark-green">
        <div class="gallery">
            <a target="_blank" href="../public/images/HarryP.jpg">
                <img src="../public/images/HarryP.jpg" alt="Harry Potter" width="333" height="500">
            </a>
            <div class="desc">Harry Potter y la piedra filosofal | Autor: J. K. Rowling</div>
        </div>

        <div class="gallery">
            <a target="_blank" href="../public/images/ElAlqui.jpg">
                <img src="../public/images/ElAlqui.jpg" alt="El Alquimista" width="342" height="500">
            </a>
            <div class="desc">El Alquimista | Autor: Michael Scott</div>
        </div>

        <div class="gallery">
            <a target="_blank" href="../public/images/Montecristo.jpg">
                <img src="../public/images/Montecristo.jpg" alt="El conde de montecristo" width="1018" height="1548">
            </a>
            <div class="desc">El conde de montecristo | Autor: Alejandro Dumas</div>
        </div>

        <div class="gallery">
            <a target="_blank" href="../public/images/DonQuijote.jpeg">
                <img src="../public/images/DonQuijote.jpeg" alt="Don Quijote" width="800" height="1132">
            </a>
            <div class="desc">Don Quijote de la mancha | Autor: Miguel de Cervantes</div>
        </div>
        <div class="gallery">
            <a target="_blank" href="../public/images/ElArteG.jpg">
                <img src="../public/images/ElArteG.jpg" alt="Harry Potter" width="313" height="500">
            </a>
            <div class="desc">El arte de la guerra | Autor: Sun Tzu</div>
        </div>

    </div>

    </div>
    <div class="footer">
        <p> Derechos reservados @Greenbeast  |  Contáctanos -> Correo: greenbeast.libros@gmail.com    Teléfono: 01-800-GREEN</p>
    </div>
</body>
</html>