<%- include("template/cabecera" , {tituloWeb: 'Greenbeast Libros'}) %>

<body>
    <div class="citron-bg impact text-center">
        <h1> Greenbeast Libros</h1>
    </div>
    <div class="text-center double-border dark-green times-nr">
        <h2> Aquí podrás encontrar tus títulos favoritos, comprarlos y nosotros te enviaremos tu pedido a casa.</h2>
        <h3> ¿Qué esperas? ¡Compra ya!</h3>
    </div>
    <div>
    <h4> Buscar: </h4>
    </div>
</body>
</html>