<%- include("template/cabecera" , {tituloWeb: 'Greenbeast Libros'}) %>

<body>
    <header>
        <h1>Greenbeast</h1>
    </header>
    <div class="text-center double-border dark-green times-nr">
        <h2> Aquí podrás encontrar tus títulos favoritos, comprarlos y nosotros te enviaremos tu pedido a casa.</h2>
        <h3> ¿Qué esperas? ¡Compra ya!</h3>
    </div>
    <div class="text-center times-nr citron-bg ">
        <h4>  <input type="text" placeholder="Título del libro"> <img src="../public/images/lupa.png" alt="Lupa-icon" width="40" height="40"></h4>

    </div>

</body>
</html>