/* Archivo de estilos para la personalización de la página web */

html{
    background-color:#87A330
}
.citron-bg{
    color:white;
    background-color:#87A330
}

.dark-green{
    color:white;
    background-color:#243010
}
.times-nr {
    font-family: "Times New Roman", Times, serif;
}

.impact{
    font-family: Impact, Charcoal, sans-serif;
}

.text-center{
    text-align: center;
}
.double-border{
    border-style:double;
}

.redfont{
    color:rgb(185, 46, 46);
}

header{
    background-color:#87A330;
    background-image: url("../images/biblio.jpg");
    background-size: 100%;
    background-position: center;
    height:400px;
    padding: 20px;
    text-align:center;
}
header h1{
    color:rgb(185, 46, 46);
    text-decoration: none;
    text-transform: uppercase;
    margin-top:60px;
    font-family: Impact, Charcoal, sans-serif;
}
